:root {
  --primary-color: #90f6d7;
  --secondary-color: #35bcbf;
  --third-color: #41506b;
  --heading-color: #263849;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  color: var(--heading-color);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 36px;
}

a {
  color: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.hero {
  text-align: center;
  background: rgba(144, 246, 215, 0.3);
  padding: 125px 40px;
  border-bottom: 8px solid var(--secondary-color);
}

.hero h2 {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.secondary-hero {
  text-align: center;
  background: rgba(144, 246, 215, 0.3);
  padding: 40px;
  margin-bottom: 40px;
  border-bottom: 8px solid var(--secondary-color);
}

.secondary-hero h1 {
  font-size: 80px;
}
.header-img {
  max-width: 250px;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 50px;
  border: 3px solid var(--secondary-color);
}
.primary-button,
.primary-button:focus {
  background: var(--third-color);
  border: 0;
  width: 230px;
  padding: 15px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.primary-button:hover {
  background: var(--heading-color);
}

.project-description {
  margin-top: 60px;
  padding: 20px;
}

.profile-pic {
  max-width: 300px;
}

.about-description {
  padding: 20px;
}

.portfolio-img {
  transition: all 200ms ease-in-out;
}
.portfolio-img:hover {
  opacity: 60%;
}

.navbar {
  background-color: var(--third-color);
}

.navbar a {
  color: #fff !important;
}

.navbar .active,
.navbar .nav-link:hover {
  color: var(--secondary-color) !important;
}

.work-inquiry {
  background: rgba(144, 246, 215, 0.3);
  padding: 30px 120px;
  margin: 80px 0;
}

.work-inquiry h4 {
  font-size: 44px;
}

.bottom-bar {
  background: var(--third-color);
  color: #fff;
  padding: 15px 30px;
  line-height: 1.5;
}

.bottom-bar a {
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  margin-left: 15px;
  transition: all 150ms ease-in-out;
}

.bottom-bar a:hover {
  color: var(--secondary-color);
}

.bottom-bar p,
.bottom-bar p a {
  margin-bottom: 0px;
  font-size: 14px;
}

.bottom-bar-contact {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .project-description {
    margin-top: 30px;
  }
}

@media (max-width: 990px) {
  .project-description {
    margin-top: 20px;
    padding-top: 0px;
  }

  .work-inquiry a {
    margin-top: 40px !important;
  }
}

@media (max-width: 766px) {
  .project-description,
  .about-description {
    text-align: center;
    margin-top: 20px;
  }

  .profile-pic {
    display: block;
    margin: 0 auto;
  }

  .secondary-hero h1 {
    font-size: 60px;
  }
  .work-inquiry {
    padding: 30px;
    text-align: center;
  }

  .work-inquiry a {
    margin-top: 10px !important;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: 80px;
  }
  .hero {
    padding: 75px 40px;
  }
  .hero h2 {
    font-size: 30px;
  }
  .bottom-bar {
    font-size: 12px;
    padding: 20px 20px;
  }
  .bottom-bar p a {
    margin-left: 0;
  }
}
